.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust as needed */
}

.selected {
    background-color: lightblue;
    cursor: pointer;
}

.content {
    border: 2px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Distance between elements */
}

.button {
    border-radius: 50%;
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    background-color: #007bff;
    /* Example color */
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #0056b3;
    /* Example hover color */
}