.popup {
   
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 40px; /* Increased padding to increase size */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 400px; /* Increased width */
  max-width: 80%; /* Optional: Limit maximum width */
}
.popup img{
    max-width: 70%;
    max-height: 1%;
}
    

.popupclosed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}